<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ShiftIt Tests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>ShiftIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>27002DE61269CA1B0062B6D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2714C0B01487F9BC00CC951D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2717BD941498B78E0012EF87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2717BDAA1498B7FD0012EF87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8D1107260486CEB800E47090</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
