ShiftIt/build
release-notes-*
ShiftIt-*.zip
ShiftIt/ShiftIt.xcodeproj/*.pbxuser
ShiftIt/ShiftIt.xcodeproj/*.perspectivev3
misc

ShiftIt/ShiftIt.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
ShiftIt/ShiftIt.xcodeproj/xcuserdata/*

