<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axdriver_converge</key>
	<true/>
	<key>axdriver_delayBetweenOperations</key>
	<integer>0</integer>
	<key>axdriver_includeDrawers</key>
	<true/>
	<key>blKeyCode</key>
	<integer>20</integer>
	<key>blModifiers</key>
	<integer>1835008</integer>
	<key>bottomKeyCode</key>
	<integer>125</integer>
	<key>bottomMargin</key>
	<integer>15</integer>
	<key>bottomModifiers</key>
	<integer>3932160</integer>
	<key>brKeyCode</key>
	<integer>21</integer>
	<key>brModifiers</key>
	<integer>1835008</integer>
	<key>centerKeyCode</key>
	<integer>8</integer>
	<key>centerModifiers</key>
	<integer>1835008</integer>
	<key>fixedSizeHeightDelta</key>
	<integer>28</integer>
	<key>fixedSizeWidthDelta</key>
	<integer>50</integer>
	<key>fullScreenKeyCode</key>
	<integer>3</integer>
	<key>fullScreenModifiers</key>
	<integer>1835008</integer>
	<key>increaseKeyCode</key>
	<integer>24</integer>
	<key>increaseModifiers</key>
	<integer>1835008</integer>
	<key>leftKeyCode</key>
	<integer>123</integer>
	<key>leftMargin</key>
	<integer>0</integer>
	<key>leftModifiers</key>
	<integer>3932160</integer>
	<key>marginsEnabled</key>
	<false/>
	<key>maximizeKeyCode</key>
	<integer>46</integer>
	<key>maximizeModifiers</key>
	<integer>1835008</integer>
	<key>reduceKeyCode</key>
	<integer>27</integer>
	<key>reduceModifiers</key>
	<integer>1835008</integer>
	<key>rightKeyCode</key>
	<integer>124</integer>
	<key>rightMargin</key>
	<integer>15</integer>
	<key>rightModifiers</key>
	<integer>3932160</integer>
	<key>screenSizeDelta</key>
	<real>6.25</real>
	<key>shiftItshowMenu</key>
	<true/>
	<key>sizeDeltaType</key>
	<integer>3003</integer>
	<key>tlKeyCode</key>
	<integer>18</integer>
	<key>tlModifiers</key>
	<integer>1835008</integer>
	<key>topKeyCode</key>
	<integer>126</integer>
	<key>topMargin</key>
	<integer>0</integer>
	<key>topModifiers</key>
	<integer>3932160</integer>
	<key>trKeyCode</key>
	<integer>19</integer>
	<key>trModifiers</key>
	<integer>1835008</integer>
	<key>windowSizeDelta</key>
	<integer>10</integer>
	<key>zoomKeyCode</key>
	<integer>6</integer>
	<key>zoomModifiers</key>
    <integer>1835008</integer>
   	<key>nextscreenKeyCode</key>
   	<integer>45</integer>
   	<key>nextscreenModifiers</key>
	<integer>1835008</integer>
</dict>
</plist>
