<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>axdriver_converge</key>
	<true/>
	<key>axdriver_delayBetweenOperations</key>
	<integer>0</integer>
	<key>axdriver_includeDrawers</key>
	<true/>
	<key>blKeyCode</key>
	<integer>20</integer>
	<key>threeleftKeyCode</key>
	<integer>89</integer>
	<key>threeleftModifiers</key>
	<integer>1835008</integer>
	<key>threecenterKeyCode</key>
	<integer>91</integer>
	<key>threecenterModifiers</key>
	<integer>1835008</integer>
	<key>threerightKeyCode</key>
	<integer>92</integer>
	<key>threerightModifiers</key>
	<integer>1835008</integer>
	<key>sixoneKeyCode</key>
	<integer>86</integer>
	<key>sixoneModifiers</key>
	<integer>1835008</integer>
	<key>sixtwoKeyCode</key>
	<integer>87</integer>
	<key>sixtwoModifiers </key>
	<integer>1835008</integer>
	<key>sixthreeKeyCode</key>
	<integer>88</integer>
	<key>sixthreeModifiers</key>
	<integer>1835008</integer>
	<key>sixfourKeyCode</key>
	<integer>83</integer>
	<key>sixfourModifiers</key>
	<integer>1835008</integer>
	<key>sixfiveKeyCode</key>
	<integer>84</integer>
	<key>sixfiveModifiers</key>
	<integer>1835008</integer>
	<key>sixsixKeyCode</key>
	<integer>85</integer>
	<key>sixsixModifiers</key>
	<integer>1835008</integer>

<key>nineoneKeyCode</key>
<integer>89</integer>
<key>nineoneModifiers</key>
<integer>3932160</integer>
<key>ninetwoKeyCode</key>
<integer>91</integer>
<key>ninetwoModifiers</key>
<integer>3932160</integer>
<key>ninethreeKeyCode</key>
<integer>92</integer>
<key>ninethreeModifiers</key>
<integer>3932160</integer>

<key>ninefourKeyCode</key>
<integer>86</integer>
<key>ninefourModifiers</key>
<integer>3932160</integer>
<key>ninefiveKeyCode</key>
<integer>87</integer>
<key>ninefiveModifiers</key>
<integer>3932160</integer>
<key>ninesixKeyCode</key>
<integer>88</integer>
<key>ninesixModifiers</key>
<integer>3932160</integer>

<key>ninesevenKeyCode</key>
<integer>83</integer>
<key>ninesevenModifiers</key>
<integer>3932160</integer>
<key>nineeightKeyCode</key>
<integer>84</integer>
<key>nineeightModifiers</key>
<integer>3932160</integer>
<key>ninenineKeyCode</key>
<integer>85</integer>
<key>ninenineModifiers</key>
<integer>3932160</integer>

    <key>blModifiers</key>
	<integer>1835008</integer>
	<key>bottomKeyCode</key>
	<integer>125</integer>
	<key>bottomMargin</key>
	<integer>15</integer>
	<key>bottomModifiers</key>
	<integer>3932160</integer>
	<key>brKeyCode</key>
	<integer>21</integer>
	<key>brModifiers</key>
	<integer>1835008</integer>
	<key>centerKeyCode</key>
	<integer>8</integer>
	<key>centerModifiers</key>
	<integer>1835008</integer>
	<key>fixedSizeHeightDelta</key>
	<integer>28</integer>
	<key>fixedSizeWidthDelta</key>
	<integer>50</integer>
	<key>fullScreenKeyCode</key>
	<integer>3</integer>
	<key>fullScreenModifiers</key>
	<integer>1835008</integer>
	<key>increaseKeyCode</key>
	<integer>24</integer>
	<key>increaseModifiers</key>
	<integer>1835008</integer>
	<key>leftKeyCode</key>
	<integer>123</integer>
	<key>leftMargin</key>
	<integer>0</integer>
	<key>leftModifiers</key>
	<integer>3932160</integer>
	<key>marginsEnabled</key>
	<false/>
	<key>maximizeKeyCode</key>
	<integer>46</integer>
	<key>maximizeModifiers</key>
	<integer>1835008</integer>
	<key>reduceKeyCode</key>
	<integer>27</integer>
	<key>reduceModifiers</key>
	<integer>1835008</integer>
	<key>rightKeyCode</key>
	<integer>124</integer>
	<key>rightMargin</key>
	<integer>15</integer>
	<key>rightModifiers</key>
	<integer>3932160</integer>
	<key>screenSizeDelta</key>
	<real>6.25</real>
	<key>shiftItshowMenu</key>
	<true/>
	<key>sizeDeltaType</key>
	<integer>3003</integer>
	<key>tlKeyCode</key>
	<integer>18</integer>
	<key>tlModifiers</key>
	<integer>1835008</integer>
	<key>topKeyCode</key>
	<integer>126</integer>
	<key>topMargin</key>
	<integer>0</integer>
	<key>topModifiers</key>
	<integer>3932160</integer>
	<key>trKeyCode</key>
	<integer>19</integer>
	<key>trModifiers</key>
	<integer>1835008</integer>
	<key>windowSizeDelta</key>
	<integer>10</integer>
	<key>zoomKeyCode</key>
	<integer>6</integer>
	<key>zoomModifiers</key>
	<integer>1835008</integer>
	<key>nextscreenKeyCode</key>
	<integer>45</integer>
	<key>nextscreenModifiers</key>
	<integer>1835008</integer>
	<key>splitHalfHorizontal</key>
	<real>0.3</real>
	<key>splitHalfVertical</key>
	<real>0.4</real>
	<key>splitQuarterHorizontal</key>
	<real>0.3</real>
	<key>splitQuarterVertical</key>
	<real>0.4</real>
	<key>splitThreeOne</key>
	<real>0.3</real>
	<key>splitThreeTwo</key>
	<real>0.7</real>
	<key>splitSixVerOne</key>
	<real>0.3</real>
	<key>splitSixVerTwo</key>
	<real>0.7</real>
	<key>splitSixHorOne</key>
	<real>0.3</real>
	<key>splitNineVerOne</key>
	<real>0.3</real>
	<key>splitNineVerTwo</key>
	<real>0.7</real>
	<key>splitNineHorOne</key>
	<real>0.3</real>
	<key>splitNineHorTwo</key>
	<real>0.7</real>
</dict>
</plist>
